APP_NAME=go-skel
APP_ENV=dev
MYSQL_HOST: database
MYSQL_PORT: 3306
MYSQL_DATABASE: app
MYSQL_USER: user
MYSQL_PASSWORD: password
MYSQL_ROOT_PASSWORD: rootpassword
PUBSUB_PROJECT_ID=test-project
PUBSUB_EMULATOR_HOST: pubsub:8085
PONG_URL=http://server:8080/http/pong

# Elastic
ELASTIC_HOST=
ELASTIC_USER=
ELASTIC_PASSWORD=
ELASTIC_PREFIX=

# Redis
REDIS_HOST=search_redis
REDIS_PORT=6380
REDIS_RECOMMENDATION_TTL=5

# DS API credentials
DATA_API_URL=https://rest-api-common-preprod.ak-data-stack.com
DATA_API_KEY=12345
